.form {
}

.fields {
	margin-block: 30px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 32px;
}

.topFields {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.bottomFields {
	display: grid;
	grid-template-columns: repeat(3, 250px);
	margin-top: 32px;
   column-gap: 44px;
}
