.row {
	display: grid;
	grid-template-columns: repeat(7, minmax(150px, 1fr));
	box-shadow: 0 1px 2px 0 #dedfe5;
	background-color: var(--main-light-color);
}

.wrapper {
	padding: 5px 7px;
	border-right: 1px solid #dedfe5;
}

.dayWeek {
	padding: 13px 59px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.today {
	border-radius: 8px;

	background-color: #dff5e2;
}
