.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	border: none;
	background: transparent;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	color: #fff;
	min-width: 160px;
	transition: all 0.3s ease;
	cursor: pointer;
	padding-block: 5px;
	text-transform: capitalize;
}

.button:not(:last-child) {
	margin-bottom: 20px;
}
.button:hover,
.button:active {
	opacity: 0.7;
}

.play {
	background-color: #00ae1c;
}

.pause {
	background-color: #099ac8;
}

.reset {
	background-color: #ef9919;
}
