:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #323749;
	background-color: #f2f5f7;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	font-size: clamp(10px, 1.3vw, 15px);
}

button,
input {
	font-size: clamp(10px, 1.3vw, 15px);
	border: none;
	outline: none;
	background: transparent;
}
