.root {
	display: flex;
	gap: 16px;
	align-items: center;
}

.actions {
	display: flex;
	gap: 8px;
}
.btn {
	color: var(--main-color);
	background: transparent;
	cursor: pointer;
	border: 1px solid var(--main-dark-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	width: 36px;
	aspect-ratio: 1;
}

.date {
	font-weight: 700;
}
